#portfolio-title{
	padding-top: 70px;
	padding-bottom: 70px;

}

/* Align the dropdown to the left */
.dropdown-menu a:hover{
	background-color: rgba(203, 213, 192, 0.5);
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: rgba(250, 252, 255, 0)!important;
}

.navbar-brand{
	padding-left: 30px;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.navbar{
	padding-bottom: 0px;
}
#section-one{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 50px;
}

.footer{
	background-color: #CBD5C0;
	padding-left: 50px;
	padding-right: 50px;
}

#contact a{
	text-decoration: none;
}


hr {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    unicode-bidi: isolate;
    color: #758467;
    margin-block-start: 0.5em;
    margin-block-end: 0.0em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;
    border-top-width: 5px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

#thin-divider{
	border-top-width: 1px;
}

/* TEXT DESIGNS -- Keep consistent throughout pages */

h1{
	text-align: center;
	font-family: "Cormorant Garamond", serif;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 100px;


}

h2{
	text-align: center;
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

#footer-text{
	padding-top: 20px;
}

#footer-text p{
	padding-top: 15px;
	color: darkslategrey;
}

.footer h2{
	text-align: left;
	padding-left: 50px;
	font-size: 20px;
	color: black;
}

a:hover {
	color: grey;
}


h3{
	text-align: left;
	font-family: "Cormorant Garamond", serif;
  	font-weight: 600;
  	font-style: normal;
  	font-size: 30px;
  	padding-top: 30px;
}

h4{
	font-family: "Lora", serif;
	font-size: 15px;
	font-style: normal;
	color: gray;
	padding-top: 0px;
}

a{
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

#link-text{
	padding-top: 15px;
}

.btn-outline-dark {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #819171;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33,37,41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #819171;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
}

a {
    color: rgba(46, 54, 66, 1);
    text-decoration: underline;
    font-weight: 300;
}

#socials img{
	margin-left: 30px;
	margin-top: 15px;
}

#section-two-text{
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	padding: 20px;
	padding-left: 50px;
}

#section-two-image{
	padding: 20px;
	padding-left: 50px;
	align-content: center;
}

#section-two{
	margin-top: 30px;
}


#resume-header h1{
	font-size: 50px;
	padding-top: 20px;
}

#skills-and-specialties-text p {
	padding-left: 50px;
	padding-top: 15px;
	padding-right: 50px;
}

#skills-and-specialties-text h2{
	padding-top: 20px;
}

#awards-and-recognition p {
	padding-left: 50px;
	padding-top: 15px;
	padding-right: 50px;
}

#awards-and-recognition h2{
	padding-top: 20px;
}

#education-history h2{
	padding-top: 20px;
}

#education-history h3{
	font-size: 25px;
	font-weight: 700;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 0px;
	padding-top: 15px;
}

#education-history p {
	padding-left: 50px;
	padding-right: 50px;
}

#experience-body p, #experience-body ul, #experience-body h3{
	padding-left: 50px;
	padding-right: 50px;
}
#experience-heading h2{
	padding-top: 20px;
	text-align: center;
}

#ux-ui-introduction{
	padding-left: 50px;
	padding-right: 50px;
}

#ux-ui-contents{
	padding-left: 50px;
	padding-right: 50px;

}

#adobe-contents{
	padding-left: 50px;
	padding-right: 50px;

}

#adobe-projects-intro{
	padding-left: 50px;
	padding-right: 50px;
}

#bubblegum-website{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#boarderline-website{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#boarderline-description{
	padding-left: 50px;
	padding-right: 50px;

}

#boarderline-website h3{
	padding-top: 0px;
}

#bubblegum-website h3{
	padding-top: 0px;
}

#dfish-website h3{
	padding-top: 0px;
}

#dfish-website{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#dfish-description{
	padding-left: 50px;
	padding-right: 50px;

}

#bytes-project h3{
	padding-top: 0px;
}

#bytes-project{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#bytes-description{
	padding-left: 50px;
	padding-right: 50px;

}


#safe-sobers-project h3{
	padding-top: 0px;
}

#safe-sobers-project{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#safe-sobers-description{
	padding-left: 50px;
	padding-right: 50px;

}

#about-me{
	padding: 50px;
		padding-top: 70px;

}

#mallory-image{
	padding: 50px;
}

#about-page-contact{
	padding: 50px;
}

#contact-information{
	padding-left: 50px;
	padding-right: 50px;
}

#view-resume-pdf{
	justify-content: center;
	padding: 50px;
}

.btn-small {
    padding: 5px 10px; /* Adjust padding for size */
    font-size: 0.8rem;  /* Adjust font size */
    display: inline-block; /* Prevent full-width stretching */
    width: auto; /* Ensures button does not stretch */
}

#contact-page-contact{
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 50px;
}

#where-i-am-from-section{
	padding: 50px;
}
#wrestling-section{
	padding: 50px;
}

#boarderling-logo-section{
	padding: 50px;
}

#boarderline-project{
	padding: 50px;
}


#adobe-projects-intro{
	padding-bottom: 50px;
}

#where-i-am-from-description h3{
	padding-top: 0px;
}

#wrestling-description h3{
	padding-top: 0px;
}

#boarderline-project-description h3{
	padding-top: 0px;
}

